<!-- templates/fragments/head.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="uikit-head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}">ENI-Enchères</title>

    <!-- UIkit CSS -->
    <link rel="stylesheet" th:href="@{/vendor/uikit/css/uikit.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/eni-enchere/css/navbar.css}">

    <!-- UIkit JS -->
    <script th:src="@{/vendor/uikit/js/uikit.min.js}"></script>
    <script th:src="@{/vendor/uikit/js/uikit-icons.min.js}"></script>
</head>
</html>
