<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: uikit-head('acquisition')"></head>
<body>

<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<h1>ENI-Enchères // </h1>
<a href="#">S'inscrire // </a>
<a href="#">se connecter // </a>
<h1>ENI-Enchères</h1>
<h2>Vous avez remporté l'enchère</h2>
<h3>Titre</h3>

<div class="image"></div>

<p><strong>Meilleure offre :</strong> </p>
<p><strong>Mise à prix :</strong> </p>
<div class="retrait">
  <p><strong>Retrait :</strong></p>
  <p>10 allée des Alouettes</p>
  <p>44800 Saint Herblain</p>
</div>
<p><strong>Vendeur :</strong> </p>
<p><strong>Tel :</strong> </p>

<button type="button">Retrait effectué</button>

</body>
</html>
