<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: uikit-head('auction-list')}"></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<h2>Filtres</h2>
<div>
  <input type="radio" id="Achat" name="test" value="Achat" checked />
  <label for="Achat">Achat</label> <br>
  <label><input type="checkbox"> enchères ouvertes</label><br>
  <label><input type="checkbox"> mes enchères en cours</label><br>
  <label><input type="checkbox"> mes enchères remportées</label><br>
</div>
<br>
<div>
  <input type="radio" id="Mes ventes" name="test" value="Mes ventes" checked />
  <label for="Mes ventes">Mes ventes</label> <br>
  <label><input type="checkbox"> mes ventes en cours</label><br>
  <label><input type="checkbox"> ventes non débutées</label><br>
  <label><input type="checkbox"> ventes terminées</label><br>
</div>

<label for="categories">Catégories:</label>
<select id="categories" name="categories">
  <option value="toutes">Toutes</option>
</select><br><br>

<label for="search">Le nom de l'article contient:</label>
<input type="text" id="search" name="search"><br><br>
<button type="submit">Rechercher</button>



</body>
</html>
