<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ENI-Enchères - Détail vente</title>
</head>
<body>
<nav th:replace="~{fragments :: navbar}"></nav>


<h1>ENI-Enchères // </h1>
<a href="#">S'inscrire // </a>
<a href="#">se connecter // </a>
<h1>ENI-Enchères</h1>
<h2>Détail vente</h2>
<h3>PC Gamer pour travailler</h3>

<div class="image"></div>

<p><strong>Description :</strong> <span id="description"> </span></p>

<p><strong>Catégorie :</strong> </p>
<p><strong>Meilleure offre :</strong> </p>
<p><strong>Mise à prix :</strong> </p>
<p><strong>Fin de l'enchère :</strong> </p>
<p><strong>Retrait :</strong> adresse</p>
<p><strong>Vendeur :</strong> </p>

<label for="ma_proposition">Ma proposition :</label>
<input type="number" id="ma_proposition" name="ma_proposition" value="">
<button type="button">Enchérir</button><br><br>

<button type="button">Back</button>

</body>
</html>
