<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENI-Enchères - Nouvelle vente</title>
</head>
<body>
<nav th:replace="~{fragments :: navbar}"></nav>

<h1>ENI-Enchères</h1>
<h2>Nouvelle vente</h2>

<label for="article">Article :</label>
<input type="text" id="article" name="article"><br><br>

<label for="categorie">Catégorie :</label>
<select id="categorie" name="categorie">
</select><br><br>

<label for="description">Description :</label><br>
<textarea id="description" name="description"></textarea><br><br>

<label for="photo">Photo de l'article :</label><br>
<input type="file" id="photo" name="photo"><br><br>

<label for="prix">Prix initial :</label>
<input type="number" id="prix" name="prix" value="150"><br><br>

<label for="debut">Début de l'enchère :</label>
<input type="date" id="debut" name="debut"> <br><br>

<label for="fin">Fin de l'enchère :</label>
<input type="date" id="fin" name="fin"><br><br>

<label for="retrait">Retrait :</label><br>
<label type="text" id="retrait" for="retrait">adress**</label><br><br>

<button type="submit">Enregistrer</button>
<button type="reset">Annuler</button>

</body>
</html>
